# **AIM: To Predict a Rider Taxi Fare**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [2]:
taxi_df = pd.read_csv('TaxiFare.csv')
taxi_df

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
49995,25:15.0,15.0,2013-06-12 23:25:15 UTC,-73.999973,40.748531,-74.016899,40.705993,1
49996,19:18.0,7.5,2015-06-22 17:19:18 UTC,-73.984756,40.768211,-73.987366,40.760597,1
49997,53:00.0,6.9,2011-01-30 04:53:00 UTC,-74.002698,40.739428,-73.998108,40.759483,1
49998,09:00.0,4.5,2012-11-06 07:09:00 UTC,-73.946062,40.777567,-73.953450,40.779687,2
49999,13:14.0,10.9,2010-01-13 08:13:14 UTC,-73.932603,40.763805,-73.932603,40.763805,1

In [3]:
taxi_df.head(10)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2

no null values

In [4]:
taxi_df.shape

(50000, 8)

In [5]:
taxi_df.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,11.364171,-72.509756,39.933759,-72.504616,39.926251,1.667840
std,9.685557,10.393860,6.224857,10.407570,6.014737,1.289195
min,-5.000000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992062,40.734880,-73.991152,40.734372,1.000000
50%,8.500000,-73.981840,40.752678,-73.980082,40.753372,1.000000
75%,12.500000,-73.967148,40.767360,-73.963584,40.768167,2.000000
max,200.000000,40.783472,401.083332,40.851027,43.415190,6.000000

In [6]:
taxi_df.sample(15)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
241,08:00.0,9.0,2013-09-03 08:08:00 UTC,-73.980880,40.779967,-73.953747,40.787770,1
29325,36:03.0,17.5,2014-09-27 13:36:03 UTC,-73.980758,40.765187,-73.999997,40.721762,2
20366,39:43.0,22.1,2010-03-04 16:39:43 UTC,-73.984293,40.694586,-73.871146,40.774159,1
32907,35:00.0,9.5,2014-10-23 10:35:00 UTC,-73.971240,40.758887,-73.973072,40.764422,6
23852,31:54.0,8.1,2012-04-04 13:31:54 UTC,-74.004347,40.707393,-74.013632,40.715014,1
9737,32:42.0,13.7,2011-11-25 20:32:42 UTC,-73.954321,40.730319,-73.981399,40.736427,1
45305,50:00.0,9.0,2013-02-19 19:50:00 UTC,-73.965037,40.759425,-73.965037,40.759425,1
41470,31:38.0,4.5,2010-08-09 15:31:38 UTC,-73.992212,40.749243,-73.990407,40.740609,1
23549,50:00.0,6.1,2011-06-13 07:50:00 UTC,-74.005958,40.745308,-73.989138,40.750345,1
14522,17:00.0,4.5,2010-03-27 10:17:00 UTC,-73.985317,40.752722,-73.983077,40.762857,5
22085,36:00.0,22.5,2013-06-26 22:36:00 UTC,-73.956142,40.707812,-73.993338,40.682525,1
16757,17:00.0,12.5,2012-09-20 10:17:00 UTC,-73.979898,40.775780,-73.969103,40.757057,1
27898,48:13.0,8.9,2011-12-15 13:48:13 UTC,-73.980920,40.774370,-73.971701,40.760281,1
30333,10:00.0,14.9,2010-01-13 14:10:00 UTC,-74.009352,40.710953,-73.972640,40.753797,5
44426,56:39.0,8.0,2014-03-12 18:56:39 UTC,-74.010139,40.721499,-74.017229,40.705446,1

In [7]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             50000 non-null  object
 1   amount                50000 non-null  float64
 2   date_time_of_pickup   50000 non-null  object
 3   longitude_of_pickup   50000 non-null  float64
 4   latitude_of_pickup    50000 non-null  float64
 5   longitude_of_dropoff  50000 non-null  float64
 6   latitude_of_dropoff   50000 non-null  float64
 7   no_of_passenger       50000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.1+ MB

In [8]:
mean2 = taxi_df["longitude_of_pickup"].mean()
taxi_df["longitude_of_pickup"] = taxi_df["longitude_of_pickup"].replace(np.nan,mean2)

In [9]:
mean3 = taxi_df["latitude_of_pickup"].mean()
taxi_df["latitude_of_pickup"] = taxi_df["latitude_of_pickup"].replace(np.nan,mean3)

In [10]:
mean4 = taxi_df["longitude_of_dropoff"].mean()
taxi_df["longitude_of_dropoff"] = taxi_df["longitude_of_dropoff"].replace(np.nan,mean4)

In [11]:
mean5 = taxi_df["latitude_of_dropoff"].mean()
taxi_df["latitude_of_dropoff"] = taxi_df["latitude_of_dropoff"].replace(np.nan,mean5)

In [12]:
taxi_df.head(15)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2
10,30:50.0,5.3,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1
11,24:00.0,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3
12,04:03.0,4.1,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2
13,54:00.0,7.0,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1
14,11:05.0,7.7,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2

In [13]:
 taxi_df.drop(['date_time_of_pickup'],axis=1,inplace=True)

In [14]:
taxi_df.drop(['unique_id'],axis=1,inplace=True)

In [15]:
taxi_df.sample(10)

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
22046,15.3,-73.978381,40.761944,-73.984639,40.758793,2
44415,4.5,-73.982131,40.731113,-73.988347,40.724894,1
34154,7.5,-73.996100,40.721847,-74.005752,40.726595,2
37317,9.3,-73.999920,40.761507,-73.987970,40.741205,3
10816,4.5,-74.002745,40.733620,-73.996764,40.726914,1
7969,5.3,-73.981426,40.763866,-73.973856,40.756356,1
12640,5.7,-73.974208,40.778728,-73.979727,40.764516,1
18547,5.0,-73.966093,40.758352,-73.971420,40.750917,1
35921,10.5,-73.974812,40.759612,-73.954033,40.783807,1
16978,11.0,-74.007393,40.740963,-73.979027,40.741314,2

In [18]:
x = taxi_df.drop(columns=['amount'],axis=1)
y = taxi_df['amount']

In [19]:
x_train, x_test, y_train,y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [20]:
from sklearn.ensemble import GradientBoostingRegressor

In [21]:
model_1 = GradientBoostingRegressor()

In [22]:
model_1.fit(x_train,y_train)

GradientBoostingRegressor()

In [46]:
s1 = model_1.score(x_train,y_train)
print("After GradientBoostingRegressor train score are: ",s1)

After GradientBoostingRegressor train score are:  0.7441405403638608

In [45]:
s1 = model_1.score(x_test,y_test)
print("After GradientBoostingRegressor train score are: ",s1)

After GradientBoostingRegressor train score are:  0.6911063296531327

In [26]:
from sklearn.tree import DecisionTreeRegressor

In [27]:
model_2 = DecisionTreeRegressor()

In [28]:
model_2.fit(x_train,y_train)

DecisionTreeRegressor()

In [43]:
s2 = model_2.score(x_train,y_train)
print("After Decision TreeRegressor train score are: ",s2)

After Decision TreeRegressor() train score are:  0.9763906952071122

In [44]:
s2 = model_2.score(x_test,y_test)
print("After Decision TreeRegressor train score are: ",s2)

After Decision TreeRegressor() train score are:  0.5543692159823118

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
model_3 = RandomForestRegressor()

In [33]:
model_3.fit(x_train,y_train)

RandomForestRegressor()

In [47]:
s3 = model_3.score(x_train,y_train)
print("After RandomForestRegressor train score are: ",s3)

After RandomForestRegressor train score are:  0.943168938698276

In [48]:
s3 = model_3.score(x_test,y_test)
print("After RandomForestRegressor train score are: ",s3)

After RandomForestRegressor train score are:  0.7414779942785206

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
model_4 = LinearRegression()

In [38]:
model_4.fit(x_train,y_train)

LinearRegression()

In [49]:
s4=model_4.score(x_train,y_train)
print("After  LinearRegression train score are: ",s4)

After  LinearRegression train score are:  0.0006109610599230875

In [50]:
s4=model_4.score(x_test,y_test)
print("After  LinearRegression train score are: ",s4)

After  LinearRegression train score are:  -0.0008268147965095896